# Django stuffs
*.log
db.sqlite3
db.sqlite3-journal
__pycache__/

# Virtual Enviroment
*env/
.python-version

# Files
*.pdf
*.csv

# User templates
templates/user/*

# Enviroment Variables
*.yaml
!.readthedocs.yaml
!openapi.yaml

# Documentation
docs/build/*
