# Django stuffs
*.log
db.sqlite3
db.sqlite3-journal
__pycache__/

# Virtual Enviroment
*env/
.python-version

# Pdf files
*.pdf

# Enviroment Variables
*.yaml
!.readthedocs.yaml

# Documentation
docs/build/*
