{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1 class="my-4">Consulta del Corpus</h1>
  <hr class="mb-3">
  <div class="jumbotron pt-5 pb-2" id="form-container">
    <form action="{% url 'search' %}" method="post">
      {% csrf_token %}
        <div class="form-group row">
          <label for="id_idioma" class="col-sm-2 col-form-label text-right">{{ form.idioma.label}}</label>
          <div class="col-sm-10">
            {{ form.idioma }}
          </div>
        </div>
        <div class="form-group row">
          <label for="id_busqueda" class="col-sm-2 col-form-label text-right">{{ form.busqueda.label}}</label>
          <div class="col-sm-10">
            <div class="input-group">
              {{ form.busqueda }}
              <div class="input-group-append">
                <button type="submit" class="btn btn-success" id="search-btn">
                  <i class="fa fa-search" title="Lupa" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label for="id_variante" class="col-sm-2 col-form-label text-right label-variante">
            {{ form.variante.label }}
          </label>
          <div class="col-sm-10">
            {{ form.variante }}
          </div>
        </div>
        {% if KEYBOARD %}
        <div class="form-group row collapse" id="keyboard-container">
          <div class="col-12 col-md-2">
            <p class="text-right mt-2">Téclado <i class="fa fa-keyboard-o"></i></p>
          </div>
            <!--TODO: Manejar muchas teclas >= 8-->
          {% for key in KEYBOARD %}
          <div class="col-4 col-md-1">
            <button type="button" id="{{key}}-key" class="btn btn-default btn-lg btn-keyboard ml-md-2 mt-1 btn-block" value="{{key}}">{{key}}</button>
          </div>
          {% empty %}
            <p class="text-center text-monospace">No se encontró teclado personalizado <i class="fa fa-ban"></i></p>
          {% endfor %}
        <div class="col-4 col-md-2 mt-2 text-right">
          <a href="{% url 'ayuda' %}" class="badge badge-pill badge-light mt-3">
            Ayuda <span class="fa fa-life-ring"></span>
          </a>
        </div>
      </div>
      {% else %}
      <div class="form-group row">
        <div class="col-12 col-md-2 offset-md-10 pl-3 text-right">
          <a href="{% url 'ayuda' %}" class="badge badge-pill badge-light">
            Ayuda <span class="fa fa-life-ring"></span>
          </a>
        </div>
      </div>
      {% endif %}
    </form>
    <div class="container-fluid">
      <div class="row">
          <h3 id="query-text" class="col-12">{{ query_text }}</h3>
      </div>
      <div class="row">
        {% if total != 0 %}
          {% if total < 6 and "~" not in query_text %}
            <p class="col-12 col-sm-8 result-notify">Encontramos {{ total }} resultados relacionados con
              <i class="fa fa-long-arrow-right"></i> <b>{{ query_text }}</b> en <b>{{ idioma }}</b> |
              <button class="btn btn-info btn-sm" id="#fuzzy-search" data-toggle="tooltip" data-placement="right"
                      title="La búsqueda difusa puede traer más resultados" onclick="fuzzy_search();">
                Búsqueda difusa <i class="fa fa-magic"></i>
              </button>
            </p>
            <div class="col-12 col-sm-4 result-notify text-right" id="export-btn-container">
              <b>Exportar <i class="fa fa-download"></i></b>
            </div>
          {% else %}
            <p class="col-12 col-sm-8 result-notify">Encontramos {{ total }} resultados relacionados con
              <i class="fa fa-long-arrow-right"></i> <b>{{ query_text }}</b> en <b>{{ idioma }}</b>
            </p>
            <div class="col-12 col-sm-4 result-notify text-right" id="export-btn-container">
              <b>Exportar <i class="fa fa-download"></i></b>
            </div>
          {% endif %}
        {% else %}
          {% if "~" not in query_text %}
            <p class="col-12 result-notify"><i class="fa fa-warning"></i> No encontramos
              resultados para <i class="fa fa-long-arrow-right"></i> <b> {{ query_text }} </b> en <b>{{ idioma }}</b> |
            <button class="btn btn-info btn-sm" id="#fuzzy-search" data-toggle="tooltip" data-placement="right"
                      title="La búsqueda difusa puede traer más resultados" onclick="fuzzy_search();">
                Búsqueda difusa <i class="fa fa-magic"></i>
            </button>
            </p>
          {% else %}
            <p class="col-12 result-notify"><i class="fa fa-warning"></i> No encontramos
              resultados para <i class="fa fa-long-arrow-right"></i> <b> {{ query_text }} </b> en <b>{{ idioma }}</b></p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if total %}
    <div class="table-responsive-sm">
      <table class="table table-striped table-hover" id="corpus-table">
        <thead>
          <tr>
            <th scope="col">{{ LANG_1 }}</th>
            <th scope="col">{{ LANG_2 }}</th>
            {% if total_variants %}
            <th scope="col">Variante</th>
            {% endif %}
            <th scope="col">Documento</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  {% endif %}
		<!-- Modal for ethnologue table -->
	<div class="modal fade" id="ethnologue-table" tabindex="-1" role="dialog" aria-labelledby="ethnologeData" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
          <h2 class="modal-title" id="ethnologue-modal-title"></h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="table-modal-body" class="modal-body">
          <!-- Ethnologe Table here -->
				</div>
				<div class="modal-footer">
          <small class="text-sm-left text-danger"><i class="fa fa-warning"></i> Ethnologue cierra su plataforma. Algunos campos pueden no estar disponibles.
						<a href="https://www.ethnologue.com/ethnoblog/rob-hess/changes-ethnologuecom" target="_blank">Más información.</a>
					</small>
					<button type="button" class="btn btn-secondary"
            data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal for ethnologue map -->
	<div class="modal fade" id="ethnologue-map" tabindex="-1" role="dialog" aria-labelledby="ethnologeData" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
          <h2 class="modal-title" id="ethnologue-modal-title">Datos Ethnologue <a href="https://www.ethnologue.com/map/MX_wc" target="_blank"><i class="fa fa-external-link fa-large"></i></a></h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
          <img class="img-fluid" src="{% static 'img/mx-wc-map.png' %}" alt="Ethnologue Mapa"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
            data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
<script>

  function fuzzy_search(){
      let new_query = [];
      let $queryField = $("input#id_busqueda");
      let query = "{{ query_text }}";
      let query_terms = query.split(' ');
      for (let q of query_terms){
        new_query.push(q + '~')
      }
      query = new_query.join(' ');
      $queryField.val(query);
      $("button#search-btn").click();
  }

  function ethnologueData(iso){
    $('#ethnologue-modal-title').html(`Datos Ethnologue <a
      href="https://www.ethnologue.com/language/${iso}"
      target="_blank"><i class="fa fa-external-link fa-large"></i></a>`)
    let url_dummy = "{% url 'ethnologue' 'some' %}"
    $('#table-modal-body').load(url_dummy.replace('some', iso), () => {
      $('#ethnologue-modal').modal({show:true});
    })
  }

  $(function () {
    {% if data %}
      let data_s = {{ data|safe }};
      /*Columns depende de los headers del CSV*/
      {% if total_variants %}
      let columns = [{data: "lang_1"}, {data: "lang_2"}, {data: "variante"}, {data: "document_name"}]
      {% else %}
      let columns = [{data: "lang_1"}, {data: "lang_2"}, {data: "document_name"}]
      {% endif %}

      let table = $("#corpus-table").DataTable({
        data: data_s,
        columns: columns,
        language: {
          url: "{% static 'localisation/es_MX.json' %}"
        }
       });
      new $.fn.dataTable.Buttons( table, {
        buttons: ['csv', 'excel']
      });

      table.buttons().container().appendTo('#export-btn-container');
    {% endif %}
    $("#id_variante").select2({
      {% if total_variants %}
      placeholder: "Selecciona una o más variantes",
      {% else %}
      placeholder: "Sin variantes disponibles",
      {% endif %}
      allowClear: true,
      language: {
        noResults: () => {return "Variante no encontrada"}
      },
    });
  });
</script>
{% endblock %}
