/* Increase font size of templates */
#help-container, #participants-container, #about-container, #links-container{
    font-size: 1.3em;
}


.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.text-medium{
    font-size: 0.9em;
}

a.navbar-brand{
    font-size: 1.7em;
}

img#banner-image{
    border-radius: 0 0 .3em .3em;
}

a.nav-link{
    font-size: 1em;
}

#hamburger-icon{
    font-size: 1.5em;
}

hr{
  border: 1px;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, transparent, rgba(0,0,0,0.75), transparent);
}

/* Form styles */
#form-container{
    font-size: 1.3em;
}

input#id_busqueda{
    height: 3em;
    font-size: inherit;
}

.select2 {
    width: 100% !important;
}

.label-sm{
    font-size: 0.8em;
}

#id_variante, .select2-container--default.select2-container--focus .select2-selection--multiple{
    caret-color: transparent;
}

.btn-keyboard{
    font-size: 1.4em;
}

code{
    font-size: 1.1em;
}

#query-text {
    color: black;
    font-weight: bold;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 1.5em;
}

span.small-icon{
    font-size: 0.9rem;
}

.select2-selection__rendered {
    line-height: 23px !important;
}
.select2-container .select2-selection--single {
    height: 25px !important;
}
.select2-selection__arrow {
    height: 24px !important;
}

.messages {
  font-size: 1.2em;
  font-weight: bold;
}

button#variants-btn, button#export-data{
  font-size: 1.0em;
}

textarea.json-config{
    font-family: monospace;
}

button#autofill-modal-btn{
  display: inline-block;
  background-color: indigo;
  color: white;
  font-family: monospace;
  border-radius: 0.3rem;
  cursor: pointer;
}

.footer{
    border-radius: .3em .3em 0 0;
}
