{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="jumbotron pt-5 pb-2 mt-5" id="form-container">
    <form action="{% url 'search' %}" method="post" >
      {% csrf_token %}
      <div class="form-group">
          <div class="input-group input-group-lg">
            {{ form.busqueda }}
            <div class="input-group-append">
              <button type="submit" class="btn btn-default" id="search-btn">
                <i class="fa fa-search" title="Lupa" aria-hidden="true"></i>
              </button>
            </div>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-12 col-md-2">
            <label for="id_idioma" class="label-sm">{{ form.idioma.label }}</label>
            {{ form.idioma }}
          </div>
          <div class="form-group col-12 col-md-10">
            <label for="id_variante" class="label-sm">{{ form.variante.label }}</label>
            {{ form.variante }}
          </div>
      </div>

      <!--Neo Keyborad-->
      {% if KEYBOARD %}
      <div class="form-group row collapse" id="keyboard-container">
        <div class="col-12 col-md-2">
          <p class="text-right mt-2">Téclado <i class="fa fa-keyboard-o"></i></p>
        </div>
          {% for key in KEYBOARD %}
          <div class="col-4 col-md-1 text-center">
            <button type="button" id="{{key}}-key" class="btn btn-default btn-lg btn-keyboard mt-1" value="{{key}}">{{key}}</button>
          </div>
          {% empty %}
            <p class="text-center text-monospace">No se encontró teclado personalizado <i class="fa fa-ban"></i></p>
          {% endfor %}
        <div class="col-4 col-md-2 mt-2 text-right">
          <a href="{% url 'ayuda' %}" class="badge badge-pill badge-light mt-3">
            Ayuda <span class="fa fa-life-ring"></span>
          </a>
        </div>
      </div>
      {% else %}
      <div class="form-group row">
        <div class="col-12 col-md-2 offset-md-10 pl-3 text-right">
          <a href="{% url 'ayuda' %}" class="badge badge-pill badge-light">
            Ayuda <span class="fa fa-life-ring"></span>
          </a>
        </div>
      </div>
      {% endif %}
    </form>
  </div>
{% endblock %}

{% block javascript %}
  <script>
  $(function () {
    $("#id_variante").select2({
      {% if total_variants %}
      placeholder: "Selecciona una o más variantes para filtrar",
      {% else %}
      placeholder: "Sin variantes disponibles",
      {% endif %}
      allowClear: true,
      language: {
        noResults: () => {return "Variante no encontrada"}
      },
    });
  });
  </script>
{% endblock %}
