{% extends 'base.html' %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-3">Ligas de interés</h1>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12">
        <h3>Comunidad</h3>
        <ul>
          <li><a href="https://elotl.mx">Comunidad Elotl MX</a></li>
          <li><a href="https://elotl.mx/blog">Blog de Elotl Mx</a></li>
        </ul>
        <h3>Corpus similares</h3>
        <ul>
          <li><a href="http://www.corpus.unam.mx/axolotl">Corpus Axolotl</a></li>
          <li><a href="https://tsunkua.elotl.mx/">Corpus TSU̱NKUA</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ LINKS_USER|safe }}
      </div>
    </div>
  </div>
{% endblock %}
