Este corpus <b>paralelo</b> permite búsquedas de palabras o frases dentro de una colección de documentos bilingües
digitalizados (traducciones).

El sistema desplegará aquel conjunto de fragmentos/oraciones que contienen la palabra buscada en la lengua seleccionada,
así como las oraciones paralelas asociadas en la otra lengua, es decir, sus traducciones.

Este tipo de sistemas son útiles para estudiosos, aprendices y hablantes de la lengua que quieran observar cómo se
traduce cierta palabra o frase dependiendo del contexto y de la fuente.
