API:
  limit_results:
    anon: 10
    user: 100
  num_proxies: 2
  throttles:
    burst_anon: 20/hour
    burst_user: 50/hour
    sustain_anon: 50/day
    sustain_user: 200/day
COLABS: []
COLORS:
  background:
    button: '#ffffff'
    form: '#ffffff'
    hover: '#000000'
    nav: '#ffffff'
  border:
    button: '#000000'
  text:
    button: '#000000'
    form: '#000000'
    highlight: '#000000'
    hover: '#000000'
    nav: '#000000'
    result: '#000000'
DEBUG: 'False'
GOOGLE_ANALYTICS: GOOGLE_AID
INDEX: esquite-production
KEYBOARD: []
L1: "Espa\xF1ol"
L2: ''
NAME: ESQUITE
ORG_NAME: ELOTL
SECRET_KEY: RRxGMmjXRJIjxdQaMW7xleI4JDU9qyepAbz5EECbIxgYtj0N0LyBAJlmergYeJ4xAEib   # Dummy Test Key. Change or Run Wizard
SOCIAL:
  blog: 'https://elotl.mx/blog/'
  email: 'contacto@elotl.mx'
  facebook: 'https://www.facebook.com/comunidadelotl'
  github: 'https://github.com/ElotlMX/'
  site: 'https://elotl.mx'
  twitter: 'https://twitter.com/elotlmx/'
URL: http://ELASTIC_SEARCH:PORT/
META_DESC: Elotl Community public API for parallel corpora queries | API pública de Comunidad Elotl para búsquedas en corpus paralelos

